.container {
  /* height: 100vh; */
  display: grid;
  place-items: center;
  background: #0f172a;
}

.envelope {
  width: 260px;
  height: 160px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e5e7eb;
  border-radius: 6px;
  z-index: 1;
}

.flap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d1d5db;
  transform-origin: top;
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.letter {
  position: absolute;
  width: 90%;
  height: 120px;
  background: white;
  top: 20px;
  left: 5%;
  border-radius: 4px;
  display: grid;
  place-items: center;
  z-index: 0;
}
